<h1> report </h1>

<form method="post" action="mobilereport">
	<p><input type="text"     name="username"    value="" placeholder="username"></p>
	<p><input type="password" name="password" value="" placeholder="password"></p>
	<p><input type="text"     name="title"    value="" placeholder="title"></p>
	<p><input type="text" name="description" value="" placeholder="description"></p>
	<p><input type="text"     name="severity"    value="" placeholder="severity"></p>
	<p><input type="text" name="latitude" value="" placeholder="latitude"></p>
	<p><input type="text"     name="longitude"    value="" placeholder="longitude"></p>
	<p><input type="submit"   value="Report"></p>
</form>
