<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Report Logs</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="style.css" />
		<style>
			@import url('https://fonts.googleapis.com/css?family=Khula');
		</style>
	</head>
	<body>
        <p> Welcome to Beacon, {{email}}. Would you like to <a href="/logout">leave</a>? </p>
		<h1>List of System Reports</h1>
		<div id="list">
			<ul>
                <li><a href="IndividualReport">List Item</a></li>
			</ul>
		</div>
	</body>
</html>
